<div class="authform">
<%= simple_form_for @customer, as: 'customer', html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    boolean: :horizontal_boolean
  } do |f| %>

  <div class="field">
    <%= f.label :customer_id%>
    <%= f.input :customer_number, :label => "Number", :hint => "needs to be auto incremented" %><br>
  </div>

  <div class="field">
    <%= f.input :customer_name %><br>
  </div>
  <div class="field">
    <%= f.input :contact_name %><br>
  </div>
  <div class="field">
    <%= f.input :bill_attention %><br>
  </div>
  <div class="field">
    <%= f.input :invoice_type, :collection => Customer::INVOICE_OPTIONS, :include_blank => false %><br>
  </div>
  <div class="field">
    <%= f.input :need_to_work %><br>
  </div>

<br>
<br>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div>